heartpy==1.2.7
matplotlib==3.4.2
numpy==1.17.4
pandas==1.5.1
pytorch_lightning==1.6.3
scikit_learn==1.2.0
scipy==1.6.3
seaborn==0.11.1
torch==1.11.0
torchmetrics==0.8.2
torchvision==0.12.0
tqdm==4.62.2
wfdb==4.1.0
